.custom-color {
    height: 5px;
    background-color: red;
    width: 50%;
}

.custom-color:last-child {
    border-radius: 0 0 0 5px;
}

.custom-color:first-child {
    border-radius: 5px 0 0 0;
}

