.one-day {
  width: 14.2%;
  background-color: black;
}
.two-day {
  width: 28.4%;
}
.three-day {
  width: 42.8%;
}
.four-day {
  width: 57.1%;
}
.five-day {
  width: 71.4%;
}
.six-day {
  width: 85.7%;
}
.sev-day {
  width: 99.9%;
}
