.month {
  background-color: white;
  border: 2px solid #59C1FF;
  border-radius: 10px;
  margin: 5px 0 5px 0;
  min-width: 150px;
  padding: 0 5px 0 5px;
}

.week {
  display: flex;
}

.wrapper-week:last-child {
  margin-bottom: 5px;
}
